.league-spartan-500 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.league-spartan-600 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.league-spartan-700 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* espacio para nav */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar {
    /* background-color: #2c3e50; */
    position: absolute;
    top: 3em;
    height: 80px;
    width: 100%;
    display: flex;
    z-index: 1;
}

#check{
    display: none;
} 

/* .navbar div img{
    margin-left: 35px;
    margin-right: 35px;
}

.enlaces{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.enlaces li a{
    padding: 2rem;
    text-decoration: none;
    color: white;
}

.enlaces li a:hover{
    text-decoration: underline;
    color: white;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
} */

/* fin espacio nav */

:root{
    --color-texto: grey;
}

body {
    margin: 0;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.responsive-image {
    width: 100%;
    height: auto;
}

p {
    color: var(--color-texto);
}

.text-container {
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    position: absolute;
}

.buttons a {
    background-color: black;
    margin: 0;
    padding: 1.5em 2em;
    color: gray;
}

.buttons a:hover {
    background-color: rgb(77, 72, 72);
}

.texto-1 {
    padding: 3rem;
}

.texto-1 p {
    margin-bottom: 1em;
}

.shop-now{
    letter-spacing: 1em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.shop-now:hover{
    color: var(--color-texto);
} 

.contenedor2 h3 {
    letter-spacing: 3px;
}

.texto-2 {
    padding: 3rem;
}




@media (min-width: 769px) {
    .navbar div img {
        margin-left: 35px;
        margin-right: 35px;
    }

    .enlaces {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
    }

    .enlaces li a {
        padding: 2rem;
        text-decoration: none;
        color: white;
    }

    .enlaces li a:hover {
        text-decoration: underline;
        color: white;
    }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    .container {
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
    }

    .text-container .buttons {
        bottom: 0;
        left: 0;
    }

    .image-container .buttons {
        display: none;
    }

    .contenedor2 {
        display: flex;
        flex-direction: row;
        max-height: 40vh;
        /*flex-wrap: wrap;*/
    }

    .contenedor2 img {
        max-height: 20%;
    }

}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
        margin-left: 30px;
        color: white;
    }

    /* ul {
        position: fixed;
        width: 100%;
        background: #2c3e50;
        text-align: center;
        transition: all .5s;
    } */

    .navbar div img{
        margin-left: 9rem;
    }
  
    .enlaces{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: white;
    }
    
   .enlaces li a{
        display: none;
        padding: 2rem;
        text-decoration: none;
        color: white;
    }
    
    .enlaces li a:hover{
        text-decoration: underline;
        color: white;
    }
 /*     
    .checkbtn{
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    */


    /*       nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color:white;
    }
    #check:checked ~ ul{
        left:0;
    } */



    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .image-container {
        order: 1;
    }

    .text-container {
        order: 2;
    }

    .image-container .buttons {
        bottom: 0;
        right: 0;
    }

    .text-container .buttons {
        display: none;
    }

    .contenedor2 {
        display: flex;
        flex-direction: column;
        max-height: 40vh;
        /*flex-wrap: wrap;*/
    }



}





/* 

.navegador{
    position: absolute;
    display: inline-flex;
}

/*nav{
    display: inline-flex;


nav ul li{
    display: inline-flex;
    list-style: none;
}
nav ul li a{
    padding: 1rem;
    margin: 40px 0 0 0;
    text-decoration: none;
}

.logo{
    padding: 1rem;
    margin: 40px 0 0 50px;
}

p{
    color: gray;
}

.contenedor1{
    display: flex;
    /*flex-wrap: wrap;
    max-height: 60vh;
}

.img-contenedor1{
    width: 60%;
}

.texto-1{
    padding: 3rem;
    width: 40%;

}

.angle{
    background-color: black;

}

.shop-now{
    letter-spacing: 1em;
    text-decoration: none;
}


h3{
    letter-spacing: 3px;
}

.texto-2{
    padding: 3rem;
} */